.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.chat-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  height: 600px;
  overflow-y: scroll;
}

.chat-container h2 {
  margin-top: 0;
}

.message {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #222;
}

.message p {
  margin: 0;
}

.message p.from {
  font-weight: bold;
}

.message p.content {
  margin-top: 5px;
}

.input-container {
  display: flex;
}

.input-container input[type='text'] {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}

.input-container button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}